.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    margin-bottom:0px;
}
.jumbotron a{
	color:#ffffff;
}
a:hover{
	text-decoration: none;
	font-size:12px;
	margin-top: -5px;
}
body{
	background-color:#fafafa;
}
main{
	margin-top:0px;
	padding:3%;
	min-width:50%;
}
.presentation{
	margin-top:0px;
	background-color:#e6e6e6;
	padding-bottom:5%;

}
.presentation a{
	color:#f4511e;
	border:solid 1px;
}
table{
	border:solid 1px;
	margin-bottom :1%;
	color : #cc0000;
}

td{
	border:solid 1px;
	font-size:large;
	color: #cc0000;

}
article{
	background-color:#e6e6e6;
	padding:3%;
}
section{
	font-size:large;
	color: #cc0000;
}
.footerConn{
	margin-top:15%;
}
